<h1>Add user:</h1>
<form method="POST" action="/add-user">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" required>
    <button type="submit">Submit</button>
</form>