extends layout.pug

block content
    h1 Add new product

    form(method="POST" action="/api/product/add")
        label(for="name") Product name:
        input(id="name" name="name" type="text")
        button(type="submit") Add new product

