<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Admin - Add new product
        link(rel="stylesheet", href="/styles.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") Home
                    li.main-header__item.active
                        a(href="/admin/add-product") Add product
        main
            h1 Add new product
            
            form(method="POST" action="/api/product/add")
                label(for="name") Product name:
                input(id="name" type="text")
                button(type="submit") Add new product

