
<h1>My products</h1>
{{#if noProducts}}
    <p>No products ...</p>
    {{else}}
    <ul>
        {{#each products}}
            <li>
                <form method="POST" action="/api/product/delete/{{id}}">
                    {{ name }} <button type="submit">Delete</button>
                </form>
            </li>
        {{/each}}
    </ul>
{{/if}}