<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item active"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My products</h1>
        {{#if noProducts}}
            <p>No products ...</p>
            {{else}}
            <ul>
                {{#each products}}
                    <li>
                        <form method="POST" action="/api/product/delete/{{id}}">
                            {{ name }} <button type="submit">Delete</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </main>
</body>
</html>