<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/styles.css")
        block head
    body
        header.main-header
                nav.main-header__nav
                    ul.main-header__item-list
                        li(class=(path === '/' ? 'main-header__item active' : 'main-header__item'))
                            a(href="/") Home
                        li(class=(path === '/admin/add-product' ? 'main-header__item active' : 'main-header__item'))
                            a(href="/admin/add-product") Add product
        main
            block content