<h2>Add new product</h2>
<form method="POST" action="/admin/add-product">
    <label for="name">Product name:</label>
    <input type="text" name="name" />
    <button type="submit">Add new product</button>
</form>